/* minify inline-classes via @apply directive */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* todo @base rounded-xxl */

/*--- NAV START ---*/
.nav {
    height: min-content;
    @apply text-gray-800 text-xl font-bold md:col-span-1 lg:col-span-1 xl:col-span-1 flex flex-col justify-center items-end p-4 relative gap-2;
}

.nav .link:first-child.link-active ~ .link-anime {
    transform: translateY(0);
}
.nav .link:nth-child(2).link-active ~ .link-anime {
    transform: translateY(calc(100% + 0.5rem));
}
.nav .link:nth-child(3).link-active ~ .link-anime {
    transform: translateY(calc((100% + 0.5rem) * 2));
}
.nav .link:nth-child(4).link-active ~ .link-anime {
    transform: translateY(calc((100% + 0.5rem) * 3));
}

.link {
    @apply rounded-2xl hover:text-gray-200 hover:bg-gray-800 text-gray-200 px-8 py-2 transition duration-75 w-3/4 text-right whitespace-nowrap z-10;
}
.link-active {
    @apply text-white transform translate-x-4 pointer-events-none;
}

.link-anime {
    top: 1rem;
    right: 1rem;
    position: absolute;
    height: 2.75rem;
    width: calc(75% - 1.5rem);
    transform: scale(0);
    /* TODO: scale(0) causes blinking on reload, except for '/' route */
    @apply rounded-2xl bg-gray-600 transition-transform duration-75;
}

/*--- NAV END ---*/

/* frosted glass effect, great on top of pictures (e.g. SignIn.vue) */
.glass {
    backdrop-filter: blur(0.25rem) saturate(200%);
    -webkit-backdrop-filter: blur(0.25rem) saturate(200%);
    background-color: rgba(255, 255, 255, 0.75);
    /* border: 1px solid rgba(209, 213, 219, 0.3); */
}

/* TODO: move to card.vue , scoped*/
.card {
    @apply bg-gray-100 p-4 border border-gray-300 overflow-hidden rounded-2xl relative;
}
.badge {
    @apply absolute top-4 right-4 bg-orange-500 font-extrabold text-white rounded-full py-1 px-3 text-sm;
}
