@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* example minifying inline-classes (Card.vue) */
.card {
    @apply bg-gray-100 p-4 border border-gray-300 overflow-hidden rounded-3xl relative;
}
.badge {
    @apply absolute top-4 right-4 bg-green-500 font-extrabold text-white rounded-full py-1 px-3 text-sm;
}
